*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    user-select: none;
}

.container .container-item{
    width: 16.67%;
    height: 100%;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
}

.container .container-item input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 7rem;
    text-align: center;
}

.container .container-item input:focus{
    outline: none;
}
