*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.container{
    width: 80vw;
    height: 80vh;
    display: flex;
    gap: 10px;
}

.container .container-item{
    flex: 1;
    transition: all .6s ease-in;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;

}

.container .container-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
    z-index: -1;
}


.container-item.active-item{
    flex: 10;
}